body{
    max-width: 1280px;
    min-width: 550px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    color:  white;
    background-color: #011028;
}

header nav{
    display: flex;
    margin: 5px 10px;
}

header nav a img{
    margin-right: 15px;
    margin-top: 5px;
    width: 150px;
    height: 40px;
}

header nav ul{
    display: flex;
    flex: 1;
    padding: 0;
    margin-bottom: 3px;
}

header nav ul li{
    list-style-type: none;
    margin-right: 2%;
}
header nav ul li a{
    text-decoration: none;
    color: white;
} 
header nav ul li a:hover{
    text-decoration: blink;
    color: #FEC600;
}
header nav ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}
header nav ul li button{
    height: 40px;
    background-color: #ff3f05;
    border-style: none;
    border-radius: 5px;
    margin-top: -10px;
}
header nav ul li button:hover{
    background-color: #ffbc05;
}

.header-info-text{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-info-text div{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 60px;
    margin-bottom: 60px;
    font-size: 26px;
}

.bands{
    text-align: center;
    
}
.bands article{
    margin-top: 15px;
    display: inline-block;
    width: 400px;
    padding-left: 0;
}

.bands article img {
    width: 389px;
    height: 244px;
    margin-left: auto;
    margin-right: auto;
}
.bands article p{
    font-size: 1rem;
    font-size: 21px;
}


#aboutus{
    background-image: url(../img/short_info_page.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    
}
.fest-specifics{
    text-align: center;
}

.fest-specifics article{
    display: inline-block;
    margin-top: 20px;
    border-style: groove;
    border-radius: 5px;
    width: 250px;
    vertical-align: middle;
}

.fest-specifics article img{
    width: 170px;
    height: 170px;
}



.big-show{
    background-image: url(../img/big-show.jpg);
    background-position: center;
    background-size: cover;
    height: 720px;
    display: block;
}

.big-show p{
    width:500px;
    line-height:1.5;
    font-size: 21px;
    text-align: justify;
    margin:auto;
    padding-top:60px;
}
.big-show #h-big-show{
    float:right;
    font-size: 32px;
    margin-right:20px;
}


.beauty-nature{
    background-image: url(../img/forest.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 720px;
    display: block;
}

.beauty-nature p{
   width:500px;
    line-height:1.5;
    font-size: 21px;
    text-align: justify;
    margin:auto;
    padding-top:60px;
}

.beauty-nature #h-beauty-nature{
    float: left;
    font-size: 32px;
    margin-left:20px;
    }


.contact-part{
    text-align: center;
}
 .contacts{
    text-align: center; 
 }

.contact-part article{
    display: inline-block;
    width: 550px;
    height: 100%;
    padding-left: 0;
}
.contact-part article form {
    display: inline-block;
}
.contact-part article form input{
    display: block;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    
}

.contact-part article form input:hover{
    border-style: groove;
}
.contact-part article form input[type="submit"]{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #ff3f05;
    border-style: none;
    border-radius: 5px;
}  

.contact-part article form input[type="submit"]:hover{
    background-color: #ffbc05;
}
.contact-part article iframe{
    height: 256px;
    width: 500px;
    margin-top: 20px;
}

.social-web-pages .h-contacts-and-links{
    margin: 0 auto;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}


.social-web-pages{
    text-align: center;
}

.social-web-pages .links img{
    height: 60px;
    width: 60px;
    margin: 0 20px;
}

.m-footer{
    display: block;
}

.m-footer{
    background-image: url(../img/footer.png);
    width: 100%;
    height: 430px;
    background-position: center;
    
}