body{
    max-width: 1280px;
    min-width: 550px;
    margin: auto;
    font-family: 'Gaegu'/*'Titillium Web'*/, cursive/*sans-serif*/;
    color:  white;
    background-color: /*#292929;*/ #011028;
}

header nav{
    display: flex;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #011028 30%, #14191a 70%);
    box-shadow: inset 0 0 20px #000;
}

header nav a img{
    margin-right: 15px;
    margin-top: 5px;
    width: 150px;
    height: 40px;
}


header nav ul{
    display: flex;
    flex: 1;
    padding: 0;
    margin-bottom: 3px;
}

header nav ul li{
    list-style-type: none;
    margin-right: 2%;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
} 
header nav ul li a:hover{
    text-decoration: blink;
    color: #FEC600;
}
header nav ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}
header nav ul li button{
    height: 40px;
    /*background-color: #b7031e #e82e00 #ff3f05;*/
    background: linear-gradient(to right, #b7031e 100%, #bc4500);
    border-style: none;
    border-radius: 5px;
    margin-top: -10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s;
}
header nav ul li button:hover{
    /*background-color: #ffbc05;*/
    background: linear-gradient(to right, #b7031e , #ffbc05 100%);
    color: white;
}

.header-info-text{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: inset 0 0 20px #000;
}

.header-info-text div{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 26px;
}

.bands{
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #011028 30%, #14191a 70%);
    box-shadow: inset 0 0 20px #000;
}
.bands article{
    margin-top: 15px;
    display: inline-block;
    width: 400px;
    padding-left: 0;
}

.bands article img {
    width: 389px;
    height: 244px;
    margin-left: auto;
    margin-right: auto;
}
.bands article p{
    font-size: 1rem;
    font-size: 21px;
}


#aboutus{
    background-image: url(../img/short_info_page.jpg);
    background-position: center;
    background-size: cover;
    height: 640px;
    box-shadow: inset 0 0 20px #000;
}
.fest-specifics{
    text-align: center;
    
}
.fest-specifics p{
    font-size: 18px;
}
.fest-specifics article{
    display: inline-block;
    margin-top: 200px;
    /*border-style: groove;
    border-color: grey; */
    box-shadow: inset 0 0 15px #000;
    border-radius: 5px;
    width: 250px;
    vertical-align: middle;
}

@media screen and (max-width: 761px) {
    .fest-specifics article{
        display: inline-block;
        margin-top: 80px;
        /*border-style: groove;
        border-color: grey; */
        box-shadow: inset 0 0 15px #000;
        border-radius: 5px;
        width: 251px;
        vertical-align: middle;
    }
    
}

.fest-specifics article img{
    width: 180px;
    height: 180px;
}



.big-show{
    background-image: url(../img/big-show.jpg);
    background-position: center;
    background-size: cover;
    height: 635px;
    display: block;
    box-shadow: inset 0 0 30px #000;
}

.big-show p{
    width:500px;
    line-height:1.5;
    font-size: 21px;
    text-align: justify;
    margin:auto;
    padding-top:90px;
}
.big-show #h-big-show{
    float:right;
    font-size: 32px;
    margin-right:40px;
    margin-top: 220px;
}


.beauty-nature{
    background-image: url(../img/forest.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 642px;
    display: block;
    box-shadow: inset 0 0 30px #000;
}

.beauty-nature p{
   width:500px;
    line-height:1.5;
    font-size: 21px;
    text-align: justify;
    margin:auto;
    padding-top:90px;
}

.beauty-nature #h-beauty-nature{
    float: left;
    font-size: 32px;
    margin-left:40px;
    margin-top: 220px;
    }


.contact-part{
    text-align: center;
}

.contacts{
    text-align: center;
}

.contact-part article{
    display: inline-block;
    width: 550px;
    height: 100%;
    padding-left: 0;
}
.contact-part article form {
    display: inline-block;
    margin-bottom: 10px;
}
.contact-part article form input{
    display: block;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.contact-part article form input:hover{
    border-style: groove;
}

.contact-part article form input[type="submit"]{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #ff3f05;
    border-style: none;
    border-radius: 5px;
    transition: all 0.3s;
}  

.contact-part article form input[type="submit"]:hover{
    background-color: #ffbc05;
}
.contact-part article iframe{
    height: 256px;
    width: 500px;
    margin-top: 20px;
}

.h-contacts-and-links{
    margin: 0 auto;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    
}


.social-web-pages{
    text-align: center;
    border-top-style: solid;
    border-color: black;
    border-width: thin;
}
.shadow{
    background: linear-gradient(to bottom, #011028 30%, #14191a 70%);
    box-shadow: inset 0 0 20px #000;
}

.social-web-pages .links img{
    height: 75px;
    width: 75px;
    margin: 0 20px;
}

.m-footer{
    display: block;
}

.m-footer{
    background-image: url(../img/footer.png);
    width: 100%;
    height: 430px;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 20px #000;
    
}